.menu__icon {
    display: none;
    height: 32px;
    width: 35px;
    position: relative;
    z-index: 5;
    cursor: pointer;

}
@media (max-width: 1000px) {
    .menu__icon {
        display: block;
    }
    
}
span {
    position: absolute;
    top: calc(50% - 1.5px);
    left: 12.5%;
    right: 12.5%;
    width: 27px;
    height: 3px;
    background: #fff;
}
span:first-child {
    top: 25%;
}
span:last-child {
    top: auto;
    bottom: 25%;
}

