/* red-hat-text-regular - latin */
@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/red-hat-text-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/red-hat-text-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/red-hat-text-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/red-hat-text-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/red-hat-text-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/red-hat-text-v11-latin-regular.svg#RedHatText') format('svg'); /* Legacy iOS */
  }
  
  /* red-hat-text-500 - latin */
  @font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/red-hat-text-v11-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/red-hat-text-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/red-hat-text-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/red-hat-text-v11-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/red-hat-text-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/red-hat-text-v11-latin-500.svg#RedHatText') format('svg'); /* Legacy iOS */
  }
/* aleo-regular - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aleo-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/aleo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/aleo-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aleo-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/aleo-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/aleo-v11-latin-regular.svg#Aleo') format('svg'); /* Legacy iOS */
  }
  
  /* aleo-italic - latin */
  @font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/aleo-v11-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/aleo-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/aleo-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aleo-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/aleo-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/aleo-v11-latin-italic.svg#Aleo') format('svg'); /* Legacy iOS */
  }
  
  /* aleo-700 - latin */
  @font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/aleo-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/aleo-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/aleo-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aleo-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/aleo-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/aleo-v11-latin-700.svg#Aleo') format('svg'); /* Legacy iOS */
  }
  
  /* aleo-700italic - latin */
  @font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/aleo-v11-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/aleo-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/aleo-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/aleo-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/aleo-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/aleo-v11-latin-700italic.svg#Aleo') format('svg'); /* Legacy iOS */
  }
    

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    scroll-behavior: smooth;

}

body {
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 20px;    
    max-width: 1440px;
    height: 3735px;
    margin-top: 0px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

/* Header start */
.header {
    padding-top: 20px;
    padding-bottom: 25px;
    box-shadow: 0 0 15px rgba(13,96,111,1.0);
    background-color: #F2785C;
    opacity: 0.7;
    height: 90px;
    position: absolute;
    top: 0;
    left: auto;
    width: 1440px;

}
.header-logo {
    padding-bottom: 8px;
}

.wrapper {
    width: 1221px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header_login {
    padding-top: 10px;
    height: 41px;
    width: 103px;
    background-color: #0D606F;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    padding-top: 0px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
    color: white;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}
.header_login:hover {
    transform: scale(1.2);

}

.header_nav {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
}

.header_nav li + li {
    margin-left: 42px;
}
.header_nav_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 75px;

}

.header_nav_item_link {
    text-decoration: none;
    color: white;
}

.header_nav a:hover {
    color: #0D606F;
    transition: color 0.4s ease;
}

/* Header end */





/* Preview start */
.main {
}
.preview {
    height: 765px;
}

/* .preview-bg-img {
    position: relative;
    z-index: -1;
} */
.bg_pic {
    width: 1440px;
    height: 765px;
}

.preview_content {
    display: flex;
    flex-direction: column;
    margin-top: -647px;
    width: 892px;
    height: 422px;
    margin-left: 120px;
}

.preview_explore {
    font-family: 'Aleo';
    font-weight: bold;
    font-size: 80px;
    color: white;
    line-height: 94px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle_preview {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-top: 35px;
    margin-bottom: 0px;
}

.search {
    height: 95px;
    width: 892px;
    background-color: white;
    opacity: 0.7;
    border-radius: 16px;
    margin-top: 47px;
}

.search_button{
    height: 59px;
    width: 228px;
    background-color: #0D606F;
    border: 0px;
    border-radius: 10px;
    padding-top: 0px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
    color: white;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.search_button:hover{
    transform: scale(1.1);

}

.search_content {
    display: flex;
    align-items: center;
    padding-top: 17px;
}

.search_content div + div {
    margin-left: 45px;
}

.search_text {
    font-family: 'Aleo';
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
    color: #F2785C;
    width: 605px;
    height: 22px;
    margin-left: 41px;
    margin-top: 2px;
    margin-bottom: 12px;
}

/* Preview end */





/* Steps start*/

.steps {
    margin-bottom: 97px;
}
.steps_container {
    margin-top: 84px;
    margin-left: 131px;
    width: 1177px;
    height: 247px;
}
.steps_list {
    width: 1177px;
    height: 154px;
}
.steps_title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
}
.step_item_text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(13, 96, 111, 1);
}
.steps_list {
    display: flex;
}
.step_item_one {
    cursor: url('../img/plane.png'), default;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 154px;
    width: 247px;
    margin-right: 231px;
}
.step_item_two {
    cursor: url('../img/plane.png'), default;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 154px;
    width: 222px;
    margin-right: 160px;
}
.step_item_three {
    cursor: url('../img/plane.png'), default;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 154px;
    width: 317px;
    margin-right: 0px;
}
.step_pic {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.steps_title {
    margin-left: 283px;
    width: 611px;
    height: 53px;
    margin-bottom: 37px;

}

/* Steps end*/





/*Destinatios start*/
.destinations {
    width: 2520px;
    height: 1042px;
}

.dest_title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    margin-left: 470px;
    margin-bottom: 49px;
}

.slaider {
    margin-bottom: 19px;
}

.dots{
    width: 1440px;
   display: flex;
   justify-content: center;
   margin-bottom: 35px;
}

.btn_find_more_block{
    padding-top: 7px;
    width: 1440px;
}

.find_more_btn {
    height: 59px;
    width: 228px;
    background-color: #0D606F;
    border: 0px;
    border-radius: 10px;
    padding-top: 0px; 
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
    color: white;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.find_more_btn:hover{
    transform: scale(1.2);
}

.arrow{
    margin-left: 27px;
    margin-right: 10px;
}

/*Destinatios end*/





/*Stories start*/

.stories_content {
    margin-top: -1462px;
    width: 1445px;
    height: 1360px;
    background-color: rgba(255, 255, 255, 0.7);
}

.st_pic{
    width: 400px;
    cursor: url('../img/plane.png'), default;
}
.story_pic{
    margin-top: 3px;
    margin-left: -3px;
    border-radius: 16px;
}
.container_st {
    margin-left: 120px;
    height: 1322px;
    width: 1201px;

}

.stories_title {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    margin-left: 432px;
    margin-bottom: 80px;
}

.stories_color {
    margin-top: 170px;
    position: relative;
    z-index: -1;
    
}

.st_title{
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 35px;
    color: #0D606F;
    margin-top: 35px;
    margin-bottom: 30px;
    line-height: 35px;
}

.st_content{
    margin-left: 40px; 
    margin-top: -27px;  
}
.story{
    margin-bottom: 0px;
    color: #0D606F;

}
.text {
    display: flex;
    flex-direction: column;
}

.read_more{
    color: #0D606F;
    font-weight: 700;
}

.item {
    display: flex;
    margin-bottom: 15px;
}

.btn_see_more_block{
    padding-top: 7px;
    margin-left: -115px;
    width: 1440px;
}

.see_more_button{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 59px;
    width: 228px;
    background-color: #0D606F;
    border: 0px;
    border-radius: 10px;
    padding-top: 0px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
    color: white;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}
.see_more_button:hover{
    transform: scale(1.2);
}


/*Stories end*/





/* Footer start */
.footer{
    height: 64px;
    
}
.container_links {
    display: flex;
    
}

.my_links{
    width: 500px;
}

.container_links{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.github_pic{
    height: 34px;
}

.rsschool_pic{
    height: 33px;
 
}

.rights{
    color: white;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    margin-top: -10px;
}

.items_footer_left{
    list-style-type: none;
    display: flex;
    margin-right: 198px;
    margin-top: 15px;

}

.items_footer_right{
    list-style-type: none;
    display: flex;
    margin-left: 198px;
    margin-top: 15px;
}

.left_pic{
    margin-right: 20px;
}

.right_pic + .right_pic {
    margin-left: 20px;
}

.items_footer_right{
    margin-right: 50px;
}

.rsschool_pic:hover{
    transform: scale(1.1);
}

.github_pic:hover{
    transform: scale(1.3);
}



.inst_pic{

    -webkit-transition: -webkit-transform .5s ease-in-out;
            transition:         transform .5s ease-in-out;
}
.inst_pic:hover{

    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.yt_pic{

    -webkit-transition: -webkit-transform 1s ease-in-out;
            transition:         transform 1s ease-in-out;
}
.yt_pic:hover{
    transform: scale(1.1);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.tw_pic{

    -webkit-transition: -webkit-transform 1.5s ease-in-out;
            transition:         transform 1.5s ease-in-out;
}
.tw_pic:hover{

    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* Footer start */